*.DS_Store
*.db
*.egg
*.egg-info
*.log
*.py[co]
*.pyc
*swp
.#*
.*swp
._*
.apdisk
.coverage
.gitconfig
.idea
.installed.cfg
.tox
bin
build
develop-eggs
dist
eggs
local_settings.py
parts
pip-log.txt
sdist
var
*.mo
local_*.cf
local_*.conf
